@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* Whole page styling  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
}

.App {
  position: relative;
  width: 375px;
  height: 100vh;
  margin: auto;
  background-color: #f8e9dd;
}

/* Balance Container Styling  */

.balance-container {
  position: absolute;
  width: 343px;
  height: 97px;
  left: 16px;
  top: 67px;
  background: #ec755d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.balance {
  margin-left: 20px;
  color: white;
}

.balance p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.balance h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.balance-container img {
  width: 60px;
  height: 40px;
  margin-right: 24px;
}

/* -----------------------Spending Container Styling ------------------------------------------ */

.spending-container {
  position: absolute;
  width: 343px;
  height: 421px;
  left: 16px;
  top: 180px;
  background-color: hsl(33, 100%, 98%);
  border-radius: 10px;
}

.spending-container h1 {
  position: absolute;
  width: 263px;
  height: 31px;
  left: calc(50% - 263px / 2 - 20px);
  top: calc(50% - 31px / 2 - 171px);
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #382314;
}


/* Chart container */ 

.chart-container {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 25.42%;
  bottom: 32.54%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-1, .detail-2, .detail-3, .detail-4, .detail-5, .detail-6, .detail-7 {
  font-size: 11.5px;
  background-color: #382314;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
}


.bars {
  width: 33px;
  border-radius: 3px;
  background: #ec755d;
}

.bars:hover {
  background: #FF9B86;
}

.bar p {
  color: #92857a;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 11px;
}
.line {
  position: absolute;
  left: 5.83%;
  right: 5.83%;
  top: 73.16%;
  bottom: 26.37%;
  background: #f8e9dd;
  border-radius: 1px;
  height: 2px;
}

.spending-bottom {
  position: absolute;
  left: 5.83%;
  right: 5.83%;
  top: 79.33%;
  bottom: 5.7%;
}

.spending-bottom-l h2 {
  position: absolute;
  width: 112px;
  height: 20px;
  left: calc(50% - 112px / 2 - 95.5px);
  top: calc(50% - 20px / 2 - 21.5px);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #92857a;
}

.spending-bottom-l h1 {
  position: absolute;
  width: 115px;
  height: 39px;
  left: calc(50% - 115px / 2 - 94px);
  top: calc(50% - 39px / 2 + 12px);
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #382314;
}

.spending-bottom-r p {
  position: absolute;
  width: 44px;
  height: 20px;
  left: 260px;
  top: 22px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #382314;
}

.spending-bottom-r h2 {
  position: absolute;
  width: 111px;
  height: 20px;
  left: 193px;
  top: 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #92857a;
}
